
.place-center  { place-items: center; }
.place-start   { place-items: start start; }
.place-end     { place-items: end end; }
.col-span-1    { grid-column: span 1; }
.col-span-2    { grid-column: span 2; }
.col-span-3    { grid-column: span 3; }
.col-span-4    { grid-column: span 4; }
.col-span-full { grid-column: 1 / -1; }