@keyframes fadeButtonHover {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.65;
    }
}

.fade-button-hover {
    transition: opacity 0.3s ease-in-out;
}
.fade-button-hover:hover{
    opacity: 0.65;
}