.card {
    overflow: hidden;
    width: 100vw;
    height: 120px;
    padding: 20px;
    background: #4f46e5;
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

.ease-reveal-text-bottom {
    transform: translateY(0%);
    transition: transform 0.3s ease-out;
}

.card:hover .ease-reveal-text-bottom {
    transform: translateY(100%);
}

.ease-reveal-text {
    transform: translateY(0%);
    transition: transform 0.3s ease-out;
}

.card:hover .ease-reveal-text {
    transform: translateY(-100%);
}

.ease-reveal-text-left {
    transform: translateX(0%);
    transition: transform 0.3s ease-out;
}

.card:hover .ease-reveal-text-left {
    transform: translateX(-25%);
}

.ease-reveal-text-right {
    transform: translateX(0%);
    transition: transform 0.3s ease-out;
}

.card:hover .ease-reveal-text-right {
    transform: translateX(25%);
}