@layer easemotion-components {
  @keyframes ease-kf-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .ease-spin {
    animation: ease-kf-spin 1s linear infinite;
  }
}
