button {
  border: none;
  padding: 12px 24px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  margin: 10px;
}
.btn-gradient-purple {
  background: linear-gradient(135deg, #9d74ff,#4e07f4);
  color: white;
}
.btn-gradient-green {
  background: linear-gradient(135deg, #67ea97, #024a0a);
  color: white;
}
.btn-gradient-red {
  background: linear-gradient(135deg,  #ff1b1b, #f6eb22);
  color: rgb(0, 17, 72);
}

.btn-soft-purple {
  background: #ede9fe;
  color: #6d28d9;
}
.btn-soft-green {
  background: #dcfce7;
  color: #166534;
}
.btn-soft-red {
  background: #fee2e2;
  color: #991b1b;
}