/* Overflow Utilities */

/* General overflow */
.ease-overflow-hidden {
    overflow: hidden;
}

.ease-overflow-auto {
    overflow: auto;
}

.ease-overflow-scroll {
    overflow: scroll;
}

/* Axis-specific overflow */
.ease-overflow-x-hidden {
    overflow-x: hidden;
    overflow-y: visible;
}

.ease-overflow-y-hidden {
    overflow-y: hidden;
    overflow-x: visible;
}