.size-adjust-none {
  font-size-adjust: none;
}
.size-adjust-045 {
  font-size-adjust: 0.45;
}
.size-adjust-050 {
  font-size-adjust: 0.5;
}
.size-adjust-055 {
  font-size-adjust: 0.55;
}
.size-adjust-from-font {
  font-size-adjust: from-font;
}
