@keyframes flip-x {
  0% {
    transform: perspective(400px) rotateX(0);
  }
  100% {
    transform: perspective(400px) rotateX(360deg);
  }
}

@keyframes flip-y {
  0% {
    transform: perspective(400px) rotateY(0);
  }
  100% {
    transform: perspective(400px) rotateY(360deg);
  }
}

.ease-flip-x {
  animation: flip-x var(--ease-duration-normal, 0.6s) ease-in-out;
  backface-visibility: visible;
}

.ease-flip-y {
  animation: flip-y var(--ease-duration-normal, 0.6s) ease-in-out;
  backface-visibility: visible;
}
