/* Font Weight Utilities */

.ease-font-thin {
    font-weight: 100;
}

.ease-font-extralight {
    font-weight: 200;
}

.ease-font-light {
    font-weight: 300;
}

.ease-font-regular {
    font-weight: 400;
}

.ease-font-medium {
    font-weight: 500;
}

.ease-font-semibold {
    font-weight: 600;
}

.ease-font-bold {
    font-weight: 700;
}

.ease-font-extrabold {
    font-weight: 800;
}

.ease-font-black {
    font-weight: 900;
}