.ease-sticky-footer-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  margin: 0;
  font-family: Arial, sans-serif;
}
.ease-sticky-footer-main {
  flex: 1;
}
.header {
  padding: 24px;
  background: #4f46e5;
  color: white;
}
.ease-sticky-footer-main {
  padding: 24px;
}
.footer {
  padding: 20px;
  background: #111827;
  color: white;
  text-align: center;
}