* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #f8fafc;
  font-family: Arial, sans-serif;
}

.skeleton-card {
  width: 400px;
  padding: 24px;

  border-radius: 16px;
  background: white;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.skeleton-line {
  height: 12px;
  margin-bottom: 14px;

  border-radius: 8px;

  background: linear-gradient(
    90deg,
    #e5e7eb 25%,
    #f3f4f6 50%,
    #e5e7eb 75%
  );

  background-size: 200% 100%;

  animation: shimmer 1.5s linear infinite;
}

.skeleton-title {
  height: 20px;
  width: 70%;
}

.short {
  width: 50%;
}

@keyframes shimmer {
  from {
    background-position: 200% 0;
  }

  to {
    background-position: -200% 0;
  }
}