* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f8fafc;
  color: #222;
}

.content {
  max-width: 800px;
  margin: auto;
  padding: 120px 20px;
}

.content h1 {
  margin-bottom: 20px;
}

.content p {
  margin-bottom: 20px;
  line-height: 1.8;
}

/* Base Progress */

.ease-reading-progress {
  position: fixed;
  left: 0;
  width: 0;
  z-index: 9999;
  transition: width 0.15s ease;
}

/* Basic */

.basic {
  top: 0;
  height: 4px;
  background: #2563eb;
}

/* Gradient */

.gradient {
  top: 8px;
  height: 4px;
  background: linear-gradient(90deg,
      #06b6d4,
      #3b82f6,
      #8b5cf6);
}

/* Glow */

.glow {
  top: 16px;
  height: 4px;
  background: #22c55e;
  box-shadow:
    0 0 10px #22c55e,
    0 0 20px #22c55e;
}

/* Circular Indicator */

.progress-circle {
  --progress: 0;

  position: fixed;
  bottom: 25px;
  right: 25px;

  width: 80px;
  height: 80px;

  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;

  background:
    conic-gradient(#2563eb calc(var(--progress) * 1%),
      #e5e7eb 0);

  transition: all 0.2s ease;
}

.progress-circle span {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background: white;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Mobile */

@media (max-width: 768px) {
  .progress-circle {
    width: 65px;
    height: 65px;
  }

  .progress-circle span {
    width: 50px;
    height: 50px;
    font-size: 0.85rem;
  }
}

/* Reduced Motion */

@media (prefers-reduced-motion: reduce) {

  .ease-reading-progress,
  .progress-circle {
    transition: none;
  }
}