body {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.notification-wrapper {
    position: relative;
    font-size: 50px;
}

.badge {
    position: absolute;
    top: -10px;
    right: -10px;

    min-width: 22px;
    height: 22px;

    padding: 2px 6px;

    border-radius: 999px;

    background: #ef4444;
    color: white;

    font-size: 12px;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
}

.success {
    background: #22c55e;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.pulse {
    animation: pulse 1.5s infinite;
}