/* Smart Typography using CSS quotes */
.quotes-en {
    quotes: "“" "”" "‘" "’";
}

.quotes-fr {
    quotes: "« " " »" "‹ " " ›";
}

.box::before {
    content: open-quote;
}

.box::after {
    content: close-quote;
}